.filter-master-card[b-p5sa1ld65w] {
    background-color: var(--mud-palette-surface);
    padding: 16px 24px;
    border-radius: var(--mud-layout-properties-default-border-radius); /* 16px */
    box-shadow: var(--mud-elevation-1);
    border: 1px solid var(--mud-palette-divider);
}

.view-gold-topline[b-p5sa1ld65w] {
    border-top: 4px solid var(--mud-palette-tertiary); /* Microborde superior color Oro */
}

[b-p5sa1ld65w] .clean-select-field .mud-input-outlined-border {
    border: none !important; /* Quita el recuadro tosco nativo */
}

.animate-fade-clean[b-p5sa1ld65w] {
    animation: quickFadeClean-b-p5sa1ld65w 0.3s ease-out;
}

@keyframes quickFadeClean-b-p5sa1ld65w {
    from { opacity: 0; transform: translateY(-4px); }
    to { opacity: 1; transform: translateY(0); }
}

.error-panel-container[b-p5sa1ld65w] {
    background-color: var(--mud-palette-surface);
    border-radius: 16px;
    border: 1px dashed var(--mud-palette-error);
}

@media (max-width: 768px) {
    .w-100-mobile[b-p5sa1ld65w] {
        width: 100%;
        margin-top: 8px;
    }
}